{% extends "base.html.twig" %}

{% block main_content %}
    <div class="padding-top-15">
        <div class="card">
            <div class="card-header p-2 text">
                            {{ 'please_select_category' | trans }}
            </div>
            <div class="card-body">
                {% set number = 0 %}
                {% for category in categories %}
                    {% if number == 0 %}
                        <div class="row">
                    {% endif %}
                    <div class="col-sm-3">
                        <a href="{{ path('assortment_subcategories',{'categoryId' : category.id}) }}">
                            <button type="button" class="assortment-button btn btn-success">
                                {{ category.name }}
                            </button>
                        </a>
                    </div>
                    {% set number = number + 1 %}
                    {% if number == 4 %}
                        </div>
                        {% set number = 0 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main_content %}