{% extends "base.html.twig" %}

{% block main_content %}
    {{ dump() }}
    <div class="padding-top-15">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="{{ path('administration_categories') }}">
                            {{ 'admin.return' | trans }}
                        </a></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="active tab-pane">
                        <div class="post">
                            <div class="card-body p-0">
                                {{ form(editCategories) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}